body {
  user-select: none;
}

.home-content {
  max-width: 800px;
  margin: 0 auto;
}

.home-section {
  margin: 60px 0;
}

.text-left {
  text-align: left;
}

.primary-button {
  color: #ffffff;
  background: #304ffe;
  border: none;
  padding: 5px 17px;
  border-radius: 3px;
  vertical-align: middle;
  font-size: 11pt;
}

.primary-button:hover {
  background: #4f68fc;
  cursor: pointer;
}

.primary-button:focus:not(:focus-visible){
  outline: none;
}

.primary-link {
  color: #2d4bf2;
  text-decoration: none;
  padding: 5px 8px;
  margin: 5px;
  border-radius: 5px;
}

.primary-link:hover {
  background: rgba(0, 0, 0, 0.05);
}

.primary-textfield {
    /*
    min-height: 33px;
    min-width: 220px;
    font-size: 11pt;
    */
    min-height: 37px;
    min-width: 244px;
    font-size: 16px;
    transform: scale(0.9);

    -webkit-appearance: none;
    vertical-align: middle;
    border: solid 1px rgb(200, 200, 200);
    border-radius: 3px;
    margin: 5px 0;
    box-shadow: none;
}

.primary-textfield:focus {
  border: solid 1px #304ffe;
  border-radius: 3px;;
  outline: none;
}

.card-button {
    background: #FFFFFF;
    border: solid 1px #E2E2E2;
    color: rgb(20, 20, 20);
    padding: 5px 15px;
    border-radius: 3px;
    text-align: left;
    vertical-align: middle;
    font-size: 11pt;
    padding: 10px 5px;
    min-width: 200px;
}

.card-button:focus:not(:focus-visible) {
  outline: none;
}

.card-button:hover {
    background: #E0E0E0;
    cursor: pointer;
}

.primary-button:disabled {
    background: rgba(48, 79, 254, 0.38);
    cursor: default;
}


input[type=radio] {
    display: none;
}

.primary-radio {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    padding: 5px 30px;
    position: relative;
    width: auto;
}

.primary-radio::before {
    border: 1px solid #304FFE;
    border-radius: 50%;
    content: '';
    display: block;
    height: 16px;
    left: 5px;
    margin-top: -8px;
    position: absolute;
    top: 50%;
    width: 16px;
}

.primary-radio::after {
    background: #304FFE;
    border-radius: 50%;
    content: '';
    display: block;
    height: 10px;
    left: 8px;
    margin-top: -5px;
    opacity: 0;
    position: absolute;
    top: 50%;
    width: 10px;
}

input[type=radio]:checked+.primary-radio::after {
    opacity: 1;
}


input[type=checkbox] {
    display: none;
}

.primary-checkbox {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    padding: 5px 30px;
    position: relative;
    width: auto;
}

.primary-checkbox::before {
    border: 1px solid #304FFE;
    border-radius: 1px;
    content: '';
    display: block;
    height: 16px;
    left: 5px;
    margin-top: -8px;
    position: absolute;
    top: 50%;
    width: 16px;
}

.primary-checkbox::after {
    border-right: 2px solid #304FFE;
    border-bottom: 2px solid #304FFE;
    content: '';
    display: block;
    height: 12px;
    width: 6px;
    left: 10px;
    margin-top: -8px;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: rotate(45deg);
}

.personalrank-label {
    min-width: 60px;
    text-align: right;
    color: #2D4BF2;
}

input[type=checkbox]:checked+.primary-checkbox::after {
    opacity: 1;
}

.newroom-textfield {
    /*        width: 100%;*/
    width: 111%;
    margin-left: -5.5%;
}

.selectrule-table {
    margin: 10px 0;
    text-align: left;
}

.rule-explanation {
    margin: 0 0 0 30px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.7);
}

.text-button {
    text-align: center;
    color: #2D4BF2;
    border: none;
    background: 0;
    padding: 5px 15px;
    border-radius: 5px;
    vertical-align: middle;
    font-size: 11pt;
}

.text-button:hover {
    background: rgba(0, 0, 0, 0.05);
}

.text-button:focus:not(:focus-visible) {
  outline: none;
}

.common-language {
  display: flex;
}

.delete-button {
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  display: inline-block;
	width: 50px;
	height: 50px;
	position: relative;
  border-width: 0;
  background: none;
}

.delete-button:focus:not(:focus-visible) {
  outline: none;
}

.delete-button::before,
.delete-button::after {
  display: block;
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 40%;
	height: 4%;
	margin: -2% 0 0 -20%;
  background-color: #2D4BF2;
}

.delete-button::before {
  transform: rotate(-45deg);
}

.delete-button::after {
  transform: rotate(45deg);
}

.error-color {
    color: #B00020;
}

.page-title {
  font-weight: 500;
  font-size: 15pt;
}

.news {
  margin: 30px 0;
}

.content {
  max-width: 400px;
  margin: 0 auto;
}

.result-section {
  margin: 5px 0 20px 0;
}

.result-small-section {
  margin-bottom: 30px;
}

.supporting-text {
  font-size: 10pt;
  color: #4c4c4c;
}

.primary-text {
  font-size: 12pt;
  color: #000000;
}

.results-table {
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
}

.rank-label {
  width: 50px;
}

.optionname-label {
  min-width: 200px;
}

.score-label {
  min-width: 60px;
  text-align: right;
}

.small-loading-section {
  margin: 0;
}

.text-right {
  text-align: right;
}

.margin-zero-p {
  margin: 0;
}

.inlineblock {
  display: inline-block;
  text-align: right;
  vertical-align: middle;
}

.small-loading-container {
  position: relative;
  width: 16px;
  height: 16px;
  margin: 0;
}

.small-loading-b {
  background: -webkit-radial-gradient(
    rgba(45, 75, 242, 0.5),
    rgba(45, 75, 242, 0)
  );
  background: radial-gradient(rgba(45, 75, 242, 0.5), rgba(45, 75, 242, 0));
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  margin: 0;
  border-radius: 50%;
  animation: live-animation 3s ease infinite;
}

.small-loading-f {
  background: #2d4bf2;
  width: 50%;
  height: 50%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  margin: 25%;
  border-radius: 50%;
}

@keyframes live-animation {
  0% {
    width: 50%;
    height: 50%;
    margin: 25%;
  }
  50% {
    width: 50%;
    height: 50%;
    margin: 25%;
  }
  100% {
    width: 100%;
    height: 100%;
    margin: 0;
  }
}

.body-padding {
  padding: 20px;
}

.section-title {
  font-size: 14pt;
  font-weight: 500;
  color: #000000;
}

.common-language-div {
  max-width: 400px;
  margin: 20px auto;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, .2);
}

.common-language-img {
  width: 100%;
  height: 100%;
}

.break-between-topic {
  height: 5px;
}

.reference-link {
  color: #2d4bf2;
  text-decoration: underline;
  word-wrap: break-word;
}
